form {
  display:block;
  padding-inline-start: 30%;
  padding-block-start: 20px;
  gap: 20px;
}

label {
  display: inline-block;
}

form > div > label {
  min-width: 150px;
}

button {
  margin-right: 10px;
  padding: 10px 15px;
  background-color: #74b4f9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}